<div>
    <div>
        <h2>{{title}}</h2>
    </div>
    <div [formGroup]="regForm">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>phone Number</mat-label>
            <input matInput formControlName="phoneNumber">
        </mat-form-field>
        <button (click)="submitForm()">Submit</button>
    </div>
</div>